[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/boxer"]
	path = lib/boxer
	url = https://github.com/aaronmjacobs/Boxer
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
